.full-height {
    min-height: 95vh;
  }

.columna{
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.1);
}
.card-container {
    cursor: pointer;
    animation: fadeIn .3s ease-in-out;
  }

.modal.show {
    display: block; /* Muestra el modal cuando tiene la clase "show" */
}